<h1>Listing categories</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%= content_for :head  do %>
      <h3>this is content for from index </h3>
      <% end %>


<% @categories.each do |category| %>
  <tr>
    <td><%= category.name %></td>
    <td><%= category.price %></td>
    <td><%= link_to 'Show', category %></td>
    <td><%= link_to 'Edit', edit_category_path(category) %></td>
    <td><%= link_to 'Destroy', category, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category', new_category_path %>
