<!DOCTYPE html>
<html>
<head>
  <title>Railscasts</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
this is application layout
<%= yield :head %>

<%= yield %>

</body>
</html>
